@CHARSET "US-ASCII";
#sidebar {
	float: left;
	color: red;
	margin-top: 30px;
}
#normal { 
	color: blue; 
	float: left;
    margin-left:80px;
    padding-left:1px;
    margin-top: 30px;
}
#footer {
	color: green;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: small;
}
#header {
	color: yellow;
	position: absolute;
	top: 1px;
}
#ads {
	color: olive;
	position: absolute;
	bottom: 8px;
	left: 100px;
}